/* form customizations for the user account/profile pages */
.account_page_title { margin-top: 0; color: #444; }
.account_form {
	font-size: 1.1em;
	input { font-size: 1.15em; }
	.field {
		margin-top: 0.8em;
		label:first-child { display: block; margin-bottom: 0.1em; color: #444; }
		input[type="text"], input[type="password"] { padding: 0.2em; }
	}
	.buttons {
		margin-top: 1em;
		input, button { margin-right: 1em; }
	}
}